@import "tailwindcss";
/* index.css or main.css */



@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 3.5s linear infinite;
}